// Custom styles.
.header {
    background-image: url(/images/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: block;
    box-sizing: border-box;
    -webkit-filter: saturate(120%);
    -moz-filter: saturate(120%);
    filter: saturate(120%);
    position: relative;
}

